/* SignUp.css */
/* SignUp.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Style untuk container utama */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 56px);
  padding: 20px;
}

/* Style untuk IonCard */
.signup-card {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* Style untuk container input */
.input-container {
  background: #f8f9fa;
  border-radius: 16px;
  margin-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 100%;
}

/* Style untuk input */
.input-field {
  padding-left: 100px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

/* Style untuk ikon */
.icon-style {
  margin-right: 8px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

/* Style untuk container tombol */
.button-container {
  display: flex;
  justify-content: center;
  margin: 2px 0;
  width: 100%;
}

/* Style untuk tombol utama */
.button-style {
  width: 300px;
  margin: 0 auto;
}

/* Style untuk container signup */
.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  width: 100%;
}

/* Style untuk tombol signup */
.signup-button-style {
  margin: 0;
  height: 30px;
  font-weight: 600;
}

/* Custom input style */
.custom-input .item-native {
  border-radius: 10px !important;
  padding-left: 0;
}

.custom-input-field {
  font-size: 16px !important;
  font-family: 'Montserrat', sans-serif;
  padding-left: 10px !important;
}
/* Apply Montserrat font to the entire page */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  /* Optional: Set background color */
  color: #333;
  /* Optional: Set text color */
}

/* Customize other styles to apply font */
h2,
h1,
p,
IonText {
  font-family: 'Montserrat', sans-serif;
}

.signup-card {
  font-family: 'Montserrat', sans-serif;
}

/* Customize input and button fonts */
.input-field,
.button-style,
.signup-button-style {
  font-family: 'Montserrat', sans-serif;
}

.button-container,
.signup-container {
  font-family: 'Montserrat', sans-serif;
}

.custom-input-field {
  font-family: 'Montserrat', sans-serif;
}

.ion-text-center {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
.ion-text-muted {
  color: #666;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.ion-no-margin {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}
